.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: orange;
}

.links {
  display: flex;
  gap: 20px;
}

.link {
  color: orange;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}
