.navbar {
  /* color: white; */
  padding: 10px;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
}

.container {
  background-color: orange;
  border-radius: 5px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.links {
  display: flex;
  gap: 20px;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}
